
div{
  position: relative;
  display: block;
  text-align: center;
}

.initial-state {
  background: orange;
  color: white;
  font-size: 12px;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 200px;
  height: 70px;
  border: 2px solid orange;
  border-radius: 4px;
  background: orange;
  color: white;
  letter-spacing: 1px;
  font-size: 24px;
  opacity: 1;
  transition: width 2s, opacity 2s;
}

.reduce-width{
  width: 10px;
  opacity: 0;
}

.circle{
  opacity: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  border: 5px solid orange;
  position: relative;
  top: -70px;
  left: 46%;
  transition: opacity 2s, left 1s,
}

.circle-animation {
  left: 25%;
  opacity: 1;
}

.tick{
  left: -177px;
  top: -135px;
  font-size: 5px;
  background-color: transparent;
  position: relative;
  border: 0px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  opacity: 0;
  transition: opacity 4s, font-size 4s;
}

.tick-appear {
  opacity: 1;
  font-size: 20px
}

.stay-hidden{
  opacity: 0
}

.text {
  position: relative;
  left: -110px;
  top: -180px;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 3s, left 2s;
}

.text-appear {
  opacity: 1;
  left: 0px;
}

#btn-test {
  top: 300px;
  position: relative;
  height: 40px;
  width: 100px;
  background-color: white;
  border: 3px solid black;
  color: black;
}
  
  
  