@-webkit-keyframes progress {
  0% {
    stroke-dashoffset: 339.292;
  }
  50%{
    stroke-dashoffset: 100.292;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes progress {
  0% {
    stroke-dashoffset: 339.292;
  }
  100%{
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes circle {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100%{
    transform: translateX(-100px)
  } 
}
@keyframes circle {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-25%)
  }
}

#div{
  margin: 20px auto 0;
  display: block;
  width: 582px;
}

.initial-state {
  height: 50px;
  width: 352px;
  line-height: 50px;
  color: #fff;
  background: #f27242;
  display: block;
  border: 0 solid transparent;
  font-family: Sailec-Bold;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 3px;
  margin: 20px auto;
  text-decoration: none;
  text-align: center;
  transition: 0.5s ease;
}

.initial-state:hover {
  cursor:pointer;
  background-color:#ed6330;
  -webkit-transform:translateY(-2px);
  transform:translateY(-2px);
  outline:none;
  -webkit-box-shadow:0 2px 5px rgba(0,0,0,.15);
  box-shadow:0 2px 5px rgba(0,0,0,.15)
}

.reduce-width{
  width: 0px;
  opacity: 0;
}

.tick{
  background-image: url(http://res.cloudinary.com/dgheqdhp3/image/upload/c_scale,h_20,w_20/v1523626758/tick_hxwfkw.png);
  background-repeat: no-repeat;
  height: 20px;
  left: 24%;
  top: -183px;
  background-color: transparent;
  position: relative;
  display: flex;
  opacity: 0;
  transition-duration: 1s;
  transition-delay: 1s;
}

.tick-appear {
  opacity: 1;
}

.stay-hidden{
  opacity: 0
}

.text {
  position: relative;
  left: 32%;
  top: -197px;
  font-size: 13px;
  font-family: Sailec-Bold;
  color: #f27242;
  font-weight: bold;
  display:flex;
  opacity: 0;
  transition-duration: 500ms;
  transition-delay: 1s;
}

.text-appear {
  opacity: 1;
}

.circle-progress {
  display: block;
  position: relative;
  top: -105px;
  left: 46%;
  opacity: 0;
  transition: 1s
}

.circle-progress-appear {
  opacity: 1;
}

.circle-progress-move {
  animation: circle 1s ease forwards;
}
.progress {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.progress__value {
  stroke-dasharray: 339.292;
  stroke-dashoffset: 339.292;
  -webkit-animation: progress 1s infinite;
          animation: progress 1s infinite;     
}



  
  
  